*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --tenne-tawny: #d65108;
    --tenne-tawny-dark: #b54507;
}
#slider img{
    height: 50%;
    width: 50%; 
    margin: 10px;
    padding: 20px;
    

}
.btn{
    cursor: pointer;
    outline: 0;
    font-size: 1.05rem;

}

.movie-container{
    min-height: 100vh;
}
.movie-wraper{
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
    background: #fff;
    text-align: center;
}
.movie-search{
    margin: 2rem 0;
}

.movie-seach-box{
    margin: 1.2rem;
    display: flex;
    align-items: stretch;
}

.movie-search-control,
.movie-search-btn{
    width: 100%;
}

.movie-search-control{
    padding: 0 1rem;
    font-size: 1.1rem;
    font-family: inherit;
    outline: 0;
    border: 1px solid var(--tenne-tawny);
    color: var(--tenne-tawny);
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
}

.movie-search-btn{
    width: 55px;
    height: 55px;
    font-size: 1.8rem;
    background: var(--tenne-tawny);
    color: rgb(131, 101, 101);
    border: none;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    transition: all 0.4s linear;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -ms-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
}

.movie-search-btn:hover{
    background: var(--tenne-tawny-dark);
}

.section{
    display: flex;
    width: 100%;
    overflow-x: auto;
}

.section img {
    width: 250px;
}